<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>addUser</title>
</head>
<body>
    <form method="post" action="/add">
        <input type="text" name="name" placeholder="name">
        <input type="email" name="email" placeholder="email">
        <input type="number" name="age" placeholder="age">
        <button type="submit">Добавить</button>
    </form>
</body>
</html>